<h1> welcome to  Blog</h1>

<a href="http://127.0.0.1:8000/user/sign-up"><button> Click for Sign Up </button></a>

<br>
<br>

<h1> If you have already account please Click on Sign In</h1>

<a href="http://127.0.0.1:8000/user/sign-in"><button> Click for Sign In </button></a>